
h1{
    color:red;
}
img{
    width: 400px;
}
#thirdDiv{
    height: 600px;
    width: 500px;
    background: blue;
    padding: 50px;
    border: 20px solid green;
}
#spanId{
    font-size: 18px;
}
